<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.neu.springbootdemo.mapper.UserMapper">

	<!-- 通用字段列表（含密码，仅供登录校验使用） -->
	<sql id="userColumns">
		userid, username, password, realname, birthdate, gender, interest, degree, intro
	</sql>

	<!-- 对外返回的字段列表：不包含密码，避免明文密码出现在响应里；
	     portrait 由照片表带出该用户设为头像的那张照片地址 -->
	<sql id="userSafeColumns">
		u.userid, u.username, u.realname, u.birthdate, u.gender, u.interest, u.degree, u.intro,
		(select i.image_url from user_image i where i.userid = u.userid and i.is_portrait = 1 limit 1) as portrait
	</sql>

	<!-- 登录验证：按用户名和密码查询 -->
	<select id="existsUser" parameterType="User" resultType="User">
		select userid, username
		from demo_users
		where username = #{username} and password = #{password}
	</select>

	<!-- 统计同名用户数量：0 表示用户名可用 -->
	<select id="countUser" parameterType="User" resultType="int">
		select count(*)
		from demo_users
		where username = #{username}
	</select>

	<!-- 新增用户：值为空的字段不插入，避免空串写入 int/date 列报错 -->
	<insert id="addUser" parameterType="User">
		insert into demo_users
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="username != null and username != ''">username,</if>
			<if test="password != null and password != ''">password,</if>
			<if test="realname != null and realname != ''">realname,</if>
			<if test="birthdate != null and birthdate != ''">birthdate,</if>
			<if test="gender != null and gender != ''">gender,</if>
			<if test="interest != null and interest != ''">interest,</if>
			<if test="degree != null and degree != ''">degree,</if>
			<if test="intro != null and intro != ''">intro,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="username != null and username != ''">#{username},</if>
			<if test="password != null and password != ''">#{password},</if>
			<if test="realname != null and realname != ''">#{realname},</if>
			<if test="birthdate != null and birthdate != ''">#{birthdate},</if>
			<if test="gender != null and gender != ''">#{gender},</if>
			<if test="interest != null and interest != ''">#{interest},</if>
			<if test="degree != null and degree != ''">#{degree},</if>
			<if test="intro != null and intro != ''">#{intro},</if>
		</trim>
	</insert>

	<!-- 组合查询条件，列表查询与总数统计共用 -->
	<sql id="userWhere">
		<where>
			<if test="username != null and username != ''">
				and username like concat('%', #{username}, '%')
			</if>
			<if test="gender != null and gender != ''">
				and gender = #{gender}
			</if>
			<if test="birthdate1 != null and birthdate1 != ''">
				and birthdate &gt;= #{birthdate1}
			</if>
			<if test="birthdate2 != null and birthdate2 != ''">
				and birthdate &lt;= #{birthdate2}
			</if>
		</where>
	</sql>

	<!-- 查询用户列表：无条件时查全部，有条件时做组合查询；pageSize 大于 0 时按分页返回 -->
	<select id="getUserList" parameterType="User" resultType="User">
		select <include refid="userSafeColumns" />
		from demo_users u
		<include refid="userWhere" />
		order by u.userid
		<if test="pageSize > 0">
			limit #{pageStart}, #{pageSize}
		</if>
	</select>

	<!-- 统计满足条件的记录总数，分页时用于计算总页数 -->
	<select id="getUserListCount" parameterType="User" resultType="int">
		select count(*)
		from demo_users
		<include refid="userWhere" />
	</select>

	<!-- 按id查询单个用户 -->
	<select id="getUser" parameterType="string" resultType="User">
		select <include refid="userSafeColumns" />
		from demo_users u
		where u.userid = #{userid}
	</select>

	<!-- 修改用户：值为空的字段不更新 -->
	<update id="updateUser" parameterType="User">
		update demo_users
		<set>
			<if test="password != null and password != ''">password = #{password},</if>
			<if test="realname != null">realname = #{realname},</if>
			<if test="birthdate != null and birthdate != ''">birthdate = #{birthdate},</if>
			<if test="gender != null and gender != ''">gender = #{gender},</if>
			<if test="interest != null">interest = #{interest},</if>
			<if test="degree != null and degree != ''">degree = #{degree},</if>
			<if test="intro != null">intro = #{intro},</if>
		</set>
		where userid = #{userid}
	</update>

	<!-- 删除用户：userids 非空按批量删除，否则按 userid 单条删除 -->
	<delete id="deleteUser" parameterType="User">
		delete from demo_users
		where
		<choose>
			<when test="userids != null and userids != ''">
				userid in
				<foreach collection="userids.split(',')" item="id" open="(" separator="," close=")">
					#{id}
				</foreach>
			</when>
			<otherwise>
				userid = #{userid}
			</otherwise>
		</choose>
	</delete>

</mapper>
